---
name: module3_task3

"on":  # do something on push to main
  push:
  schedule:
    - cron: "0 0 * * *"

jobs:
  tag_job:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - uses: softprops/gh-release@v1
        with:
          files: "awesome-website.zip"
          tag_name:
            "1.0.0"
          release_name:
            "1.0.0"
          body:
            "DEPLOY.md"

  else_job:
    if: startsWith(github.ref, 'refs/head/')
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          repository: ''
      - run: |
          cd module3_task2/ && ./setup.sh && make build
